header {
    padding: 75px;
    font-family: fantasy;
    background-color: black;
    color: #ffffff;
}

ul {
    list-style-type: none;
    
}

li {
    display: inline;
    font-size: 20px;
    margin-right: 50px;
}

.hero {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("starsky.jpg");
    background-size: cover;
    background-position: center;
}

.comingsoon img{
    height: 200px;
    width: 300px;


}

