*{font-family: 'Comfortaa', cursive;}

header {
    padding: 10px;
    height: 300px;
    background-color: black;
    color: #ffffff;
    
}



.mj {
    display: flex;
    justify-content: center;
}
h1 {
    margin-bottom: 0;
    margin-left: 12px;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    
}

li {
    display: inline;
    font-size: 20px;
    margin-right: 25px;
}

.middle {
    display: flex;
    flex-wrap: wrap;
    
}

.middle img {

    width: 485px;
}

.comingsoon img{
    height: 200px;
    width: 240px;
}

.bottom {display: flex; justify-content: center;}

#henry {height: 180px; width: 180px;
        border-radius: 25px;
        /* margin-left: 75px;
        margin-top: 25px; */
        
}

.logos {height: 50px; width: 50px; border-radius: 10px;}

h4 {text-align: center; }

#henryParras {text-align: center;}

#topsection {display: flex; justify-content: center;}

#contactme {text-align: center;}

#myemail {color: dodgerblue; }