*{font-family: 'Comfortaa', cursive;}

header {
    padding: 75px;
    
    
    background-color: black;
    color: #ffffff;
}



.mj {
    float: right;
}
h1 {
    margin-bottom: 0;
    margin-left: 12px;
}

ul {
    list-style-type: none;
    display: flex;
    
}

li {
    display: inline;
    font-size: 20px;
    margin-right: 50px;
}

.hero {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/starsky.jpg");
    background-size: cover;
    background-position: center;
}



.middle {
    display: flex;
    flex-wrap: wrap;
    
}

.middle img {

    width: 485px;
}

.comingsoon img{
    height: 200px;
    width: 240px;


}

.bottom {display: flex; justify-content: center;}

#henry {height: 240px; width: 240px;
        border-radius: 25px;
        margin-left: 25px;
        
}

.logos {height: 100px; width: 100px; border-radius: 25px;}

h4 {text-align: center; }